<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="edit-truck-header">
        <h1>Update Truck Location Payload/Status</h1>
      </div>
    </div>
  </div>
</div>

<%= render 'form', truck: @truck %>
