<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="new-truck-header">
        <h1>Schedule New Truck</h1>
      </div>
    </div>
  </div>
</div>


<%= render 'form', truck: @truck %>