<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="order-feedback-form-header">
        <h3>Tell Loafgo About Your Order Experience</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render 'form', order_feedback: @order_feedback %>
    </div>
  </div>
  <%= link_to 'View Order Feedback', @order_feedback, class: 'bttn-minimal bttn-md bttn-primary' %>
  <%= link_to 'Go back to Order Feedbacks', order_feedbacks_path, class: 'bttn-minimal bttn-md bttn-warning' %>
</div>



