<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="order-tracker-edit-header">
        <h2>Update Client Order Tracker Status/Information</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render 'form', order_tracker: @order_tracker %>
</div>