<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="edit-delivery-header">
        <h1>Make Changes To Delivery</h1>
      </div>
    </div>
  </div>
</div>


<%= render 'form', delivery: @delivery %>