<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="new-delivery-header text-center">
        <h1>New Delivery</h1>
      </div>
    </div>
  </div>
</div>



<%= render 'form', delivery: @delivery %>

<%= link_to 'Back', deliveries_path %>
