<div class="full-width-bakery-bg-img">
  <div class="five-star-ratings-title">
    <h1><%= inline_svg 'home_img_assets/star.svg', height: 100, width: 100 %> The Critics Have Spoken!</h1>
  </div>
  <div class="critically-acclaimed-header-1">
    <h1><%= inline_svg 'home_img_assets/star_solo.svg', height: 40, width: 40 %> "Unbelievably delicious bread" -
      <small class="critically-acclaimed-header-small">Costco CEO</small>
    </h1>
  </div>
  <div class="critically-acclaimed-header-1">
    <h1><%= inline_svg 'home_img_assets/star_solo.svg', height: 40, width: 40 %> "LoafGo Deliveries are always on time!"
      -
      <small class="critically-acclaimed-header-small">BJs CEO</small>
    </h1>
  </div>
  <div class="critically-acclaimed-header-1">
    <h1><%= inline_svg 'home_img_assets/star_solo.svg', height: 40, width: 40 %> "We chose LoafGo and we're happy with
      their service!" -
      <small class="critically-acclaimed-header-small">ShopRite CEO</small>
    </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="contact-us-header">
        <h3><strong style="color: #534450">LoafGo</strong> is a 4th generation family owned business</h3>
        <h5><span class="badge badge-success">Founded Date</span> 1988</h5>
        <h5><span class="badge badge-dark">Headquarters Location</span> Long Island</h5>
        <h5><span class="badge badge-primary">Founders Name</span> Super Software Engineering Man</h5>
      </div>
    </div>
    <div class="col-6">

    </div>
  </div>
</div>