<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <div class="welcome-to-loaf-go-top-hr">
        <h1>Welcome to LoafGo</h1>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <div class="callout-box">
          <h5>More to come!</h5>
          <p>We're using Zurb Foundation since Bootstrap is having issues</p>
        </div>
      </div>
    </div>
  </div>
</div>