<div class="container">
  <div class="become-a-member-today-hr">
    <h1>Account Sign In</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card card-top-margin">
        <%= image_tag 'home_img_assets/Accountant-Finance.jpg', class: 'card-img-top' %>
        <div class="card-block">
          <!--<div class="client-registration-header">-->
          <!--<h4>Sign up as a Client</h4>-->
          <!--</div>-->
          <div class="text-center">
            <%= link_to 'For Clients', new_client_session_path, class: 'btn btn-outline-info btn-block' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-top-margin">
        <%= image_tag 'home_img_assets/Bread-Food-Baker.jpg', class: 'card-img-top' %>
        <div class="card-block">
          <!--<div class="manager-registration-header">-->
          <!--<h4>Management/Employee Registration</h4>-->
          <!--</div>-->
          <div class="text-center">
            <%= link_to 'For LoafGo Team', new_manager_session_path, class: 'btn btn-outline-info btn-block' %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>