<div class="container">
  <div class="become-a-member-today-hr">
    <h1>Become a Member Today!</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card card-top-margin">
        <%= image_tag 'registration_img_assets/handshake.jpg', class: 'card-img-top' %>
        <div class="card-block">
            <!--<div class="client-registration-header">-->
              <!--<h4>Sign up as a Client</h4>-->
            <!--</div>-->
          <div class="text-center">
            <%= link_to 'Sign up as a Client', new_client_registration_path, class: 'btn btn-outline-info btn-block' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-top-margin">
        <%= image_tag 'registration_img_assets/teamwork.jpg', class: 'card-img-top' %>
        <div class="card-block">
          <!--<div class="manager-registration-header">-->
            <!--<h4>Management/Employee Registration</h4>-->
          <!--</div>-->
          <div class="text-center">
            <%= link_to 'Managemnet/Employee Registration', new_manager_registration_path, class: 'btn btn-outline-info btn-block' %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>