<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="no-results-for-search">
        <h1 class="animated bounce infinite"><strong style="color: #534450;"><%= fa_icon 'search' %></strong> Begin Your
          Search</h1>
      </div>
    </div>
  </div>
</div>