<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="new-bread-header text-center">
        <h1>New Bread</h1>
      </div>
    </div>
  </div>
</div>
<div class="new-bread-form-divider"></div>

<%= render 'form', bread: @bread %>

