.bread-factory-hr > h1 {
  margin-top: 1em;
  text-align: center;
  color: #534450;
  padding-bottom: 2em;
}

.panel-body {
  margin-top: 2.10em;
}

.bread-collection-hr > h3 {
  text-align: center;
  color: #949494;
}

.quick-scan > h3 {
  text-align: center;
  color: #0F9E5E;
}

.new-bread-form-divider {
  height: 0.10em;
  width: 100%;
  background-color: #534450;
}

.new-bread-header > h1 {
  padding-top: 1em;
  color: #6d6d6d;
}
