@import "loafgo-color-palette";

.welcome-message-box > h1 {
  text-align: center;

}

.navbar-melon-default {
  background-color: $color4;
  border-bottom: 0.10em #534450;

}

.client-navbar-icon-color {
  color: #2b2329;
}

.navbar-blueberry {
  background-color: $color5;
}

.navbar-manager-passion-fruit {
  background-color: $color1;
}

.navbar-melon {
  background-color: $color1;
  border-bottom: 0.10em $color5 solid;
}

a.nav-link-color-manager:hover {
  color: #534450;
}

.nav-brand-txt-color {
  color: $color1;
  text-decoration: none;
}

.nav-brand-txt-color-manager {
  color: #2E2F30;
  text-decoration: none;
}

.navbar-link-icon-pos > svg {
  margin-left: 0.60em;
}

.client-navbar-link-icon-pos > svg {
  margin-left: 1.80em;
}

a.nav-link-color {
  color: $color5;
  margin-left: 2em;
}

.nav-box-shadow {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

a.nav-link-color:hover {
  color: $color1;
}

.trucks-navbar-icon-pos > svg {
  margin-left: 0.80em;
}

.bread-navbar-icon-pos > svg {
  margin-left: 2.10em;
}

.tracking-icon-pos > svg {
  margin-left: 1em;
}

.deliveries-icon-pos > svg {
  margin-left: 1.50em;
}

.order-finder-icon-pos > svg {
  margin-left: 2em;
}

.warehouse-icon-pos > svg {
  margin-left: 2em;
}

.manager-home-icon-pos svg {
  margin-left: 2em;
}