<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="edit-warehouse-header">
        <h1>Change Warehouse Information</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render 'form', warehouse: @warehouse %>
    </div>
  </div>
</div>


